<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Branches</title>
</head>
<body align="center" style="background-color:#33d6ff;">

<h1>State bank of India</h1>
<table border="1" align="center">

<tr><th>Branches</th></tr>
<tr><td>Sarjapur</td></tr>
<tr><td>Kodathi</td></tr>
<tr><td>white field</td></tr>
<tr><td>Electronic city phase-1</td></tr>
<tr><td>Electronic city phase-2</td></tr>
<tr><td>Jai nagar</td></tr>
<tr><td>Brooke Field</td></tr>
<tr><td>Agara</td></tr>
<tr><td>Slikboard</td></tr>
<tr><td>Btm layout</td></tr>
</table>
</body>
</html>