<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Services</title>
</head>
<body align="center" style="background-color:#33d6ff;">

<h1>State bank of India</h1>
<table border="1" align="center">

<tr><th>Services</th></tr>
<tr><td>Advancing of Loans.</td></tr>
<tr><td>Online banking</td></tr>
<tr><td>Foreign Currency Exchange</td></tr>
<tr><td>Mobile Banking</td></tr>
<tr><td>ATMs Services</td></tr>
<tr><td>Debit cards</td></tr>
<tr><td>Private banking</td></tr>
<tr><td>Accepting Deposit</td></tr>
<tr><td>Remittance of Funds</td></tr>
<tr><td>Credit cards</td></tr>
</table>
</body>
</html>